svg {
    overflow: hidden;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #ffffff;
}

.edge-label rect {
    fill: #ffffff;
}

.edge path {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.node .form{
    margin: 20px;
}

.node .fn {
    color: blue;
    font-weight: bold;
}

.node .let ul{
}

.node .special-form{
    font-weight: bold;
}

.node .if .if-test-result{
    font-weight:bold;
}

.node .if .if-test-true{
    color:green;
}

.node .if .if-test-false{
    color:red;
}

.edge .title{
    font-weight:bold;
}

.edge {
    border: 1px solid #acacac;
    color: #acacac;
}
